/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-feb-2016, 10:37:21
    Author     : rafael
*/

#n_title2 {
    color: lightblue;
    text-align: left;
    font-size: 62.5%;
    background-color: white;
}
